.navbar {
    margin:0.64em 1em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.64em;
    padding: 0.63em 0.63em;
    background: linear-gradient(122.72deg, rgba(255, 255, 255, 0.752) 1.24%, rgba(255, 255, 255, 0.188) 99.56%);
    box-shadow: 0.13em 0.25em 0.44em rgba(25, 44, 27, 0.25);
    border-radius: 1.31em;
    border: 1px solid;
    border-image-source: linear-gradient(123.47deg, rgba(255, 255, 255, 0.8) 0.6%, rgba(255, 255, 255, 0.2) 100%);
    background: linear-gradient(123.47deg, rgba(255, 255, 255, 0.8) 0.6%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(122.72deg, rgba(255, 255, 255, 0.752) 1.24%, rgba(255, 255, 255, 0.188) 99.56%);
    

    @media screen and (min-width:700px) {
        margin:1em 6em;
    }

  

    &__logo {
        text-align: left;
        padding:0.4em 0.63em;
        padding-left: 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 1.3em;
        letter-spacing: 0.05em;
        color: #1E7C28;

        @media screen and (min-width:700px) {
            padding-top: 0.15em;
            font-size: 1.8em;
        }


    }

    &__links {
        text-align: center;
    


        ul {
            list-style: none;
            display: inline-flex;
            align-content: left;
            justify-content: space-between;

            li {
                padding: 0.63em 0.63em;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 0.9em;
                line-height: 22px;
                letter-spacing: 0.03em;
                color: #2B5231;

                @media screen and (min-width:768px) {
                    font-size: 1.2em;
                }

                @media screen and (max-width:350px) {
                    font-size: 0.7em;
                }
                
            }

            li.selected {
                padding: 0.63em 1.25em;
                background: #40B34C;
                border-radius: 1.56em;
            }

            li:hover {
                background: #7ae385;
                color:#2B5231;
                border-radius: 1.56em;
            }
        }

    }
    
}
