section {

  form {

    .inputbar {
      display: grid;
      grid-template-columns: repeat(1, auto);
      // justify-content: center;
      grid-gap: 0.88em;
      align-items: center;
      padding: 0.94em 1.25em;


      @media screen and (min-width:700px) {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }

      .formgrid {

        display: grid;
        grid-template-columns: repeat(1, auto);


        @media screen and (min-width:700px) {
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-gap: 0.88em;
        }

        label {
          margin-bottom: 0.64em;
          width: fit-content;
          padding: 0.63em 0.31em;
          background: linear-gradient(122.08deg, rgba(64, 179, 76, 0.8) 0.24%, #40B34C 100.24%);
          box-shadow: 0.31em 0.31em 0.25em rgba(0, 0, 0, 0.25);
          border-radius: 0.06em;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 0.94em;
          line-height: 1.38em;
          letter-spacing: 0.05em;
          border: 1px solid;
          border-image-source: linear-gradient(131.88deg, rgba(64, 179, 76, 0.2) 0.88%, rgba(53, 159, 63, 0.8) 90.11%);
        }

        input {
          padding-left: 0.3em;
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          width: 100%;
          height:40px;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 0.31em;
          border: 1px solid;
          border-image-source: linear-gradient(90.54deg, rgba(64, 179, 76, 0.2) 0.11%, rgba(53, 159, 63, 0.8) 98.77%);
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 300;
          font-size: 1em;
          line-height: 22px;

          @media screen and (min-width:768px) {
            width:25em;
          }
        }



        input::placeholder {
          text-align: center;
          font-style: italic;
          font-size: 0.8em;
          color: #081F0A;
          @media screen and (min-width:768px) {
            font-size: 1em;
          }
        }



        input:focus {
          height:40px;
          padding: 0.3em 0.8em;
          color: #18601f;
          outline-color: #359F3F;
        }

        input:hover {
          border-color: #40B34C;
        }
      }

      button {
        padding: 0.63em;
        background: #359F3F;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.63em;
        border: 1px solid;
        border-image-source: linear-gradient(103.69deg, rgba(64, 179, 76, 0.2) 0.32%, rgba(64, 179, 76, 0.8) 100.32%);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 21px;
        letter-spacing: 0.04em;
        color: #000000;
      }
    }

  }

}
