
<div class="container">
        <section class="herosection">
        <h1>
            {{ heroTitle }}
        </h1>
        <p>
            {{ heroText }}
        </p>
        <button type="submit">{{heroBtn}}</button>
    </section>
</div>
<div class="container">
    <section>
        <form action="#">
            <div class="inputbar">
                <div class="formgrid">
                <label for="URL">URL:</label>
                <input type="text" id="URL" placeholder="Paste long url here to create a short goer.ng link">
                </div>
                <button type="submit">Shorten</button>
            </div>
        </form>
    </section>
    <section>
        <div class="history">
            <div class="url">
                <input type="text" value="https//google.com/f/ffhhfgf/fgf/gkgbgcdhvjfkdhdvjkcdhvjfkgcdhvjfkf" disabled>
            </div>
            <div class="goerurl">https://goer.ng/trhgge5w</div>
            <div class="copyshare">
                <div class="copyshare__copy">copy</div>
                <div class="copyshare__tw">
                    <i class="fa-brands fa-square-twitter fa-2xl"></i>
                </div>
                <div class="copyshare__fb">
                    <i class="fa-brands fa-square-facebook fa-2xl"></i>
                </div>
            </div>
        </div>
    </section>
</div>

